html, body {
  margin: 0;
}

#map {
  height: 100vh;
}

.leaflet-control-zoom {
  visibility: hidden;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 5px;
  background-color: none;
}

.input-group .btn:focus {
  background-color: #ffffff;
  border-color: #cccccc;
  outline: none;
}

.input-group .btn:active {
  color: #fafafa;
  background-color: #68c631;
  border-color: #cccccc;
  outline: none;
}

.input-group .form-control:focus {
  border-color: #68c631;
}

#menu {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 2000;
  background-color: #ffffff;
  padding: 6px;
  border: 1px solid #cccccc;
  border-left-width: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
