<div class="input-group input-group-lg">
  <span class="input-group-btn">
    <button class="btn btn-default menu-button" ng-click="model.menuIsOpen = !model.menuIsOpen">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
  </span>
  <input type="text" class="form-control" placeholder="Nach Adresse suchen..." ng-model="model.addressBarValue" >
  <span class="input-group-btn">
    <button class="btn btn-default menu-button" ng-if="model.addressBarValue || !model.currentPosition">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    <button class="btn btn-default menu-button" ng-if="!model.addressBarValue && model.currentPosition">
      <span class="glyphicon glyphicon-screenshot" ng-click="centerOnLocation()"></span>
    </button>
  </span>
</div>
